* {
margin: 0%;
padding: 0%;
}

body {
    font-size: large;
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

header{
height: 300px;
background-color: gray;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

.head {
    background-color: red;
    width: 100%;
    display:flex;
    justify-content: center;
    
}

nav{
    line-height: 40px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

}

.navigation a{
    color:black;
    text-decoration-thickness: 3px ;
}
 img{

    height: 100px;
    width: 100px;
    border-radius: 50%;
}


footer {
background-color: brown;
padding: 2rem;

}

.about-me{
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    height: 400px;
    justify-content: center;
    align-items: center;

}

.title1{
    margin-top: 25px;
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bio{
    text-align: center;
    line-height: 30px;
    font-size: x-large;
}

@media (min-width)